@charset "utf-8";

	img {
		height: 70px;
	}

/* ========== header ========== */
.spNav_ul > li:first-child {
	border-bottom: 1px solid #000;
}
.spNav_ul > li:nth-child(4) {
	border-bottom: none;
}
/* ========== main ========== */
.main {
	padding: 30px 0;
	background-image: url(../img/haikei.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
}
.items {
	border-radius: 10px;
	background: #fff;
	padding: 5px;
	margin: 5px;
}
.items:hover {
	opacity: 0.5;
}
.square-thumb {
	width: 300px;
	height: 250px;
}
.back_to_top {
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: rgba(120, 120, 120, 0.5);
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	right: 20px;
	bottom: 90px;
}
.back_to_top:hover {
	background-color: rgba(203, 27, 69, 1);
}
.arrow {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #fff;
	opacity: 0.8;
}
.more {
	margin: auto;
	margin-top: 20px;
	width: 100px;
	height: 20px;
	background-image: url(../img/viewmore.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	-webkit-border-radius: 5px;
			border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.more:hover {
	opacity: 0.5;
}

/* レスポンシブの設定 */
@media all and (min-width: 768px) {
	.mainRight {
		display: block;
	}
	.content {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content:center;
		justify-content:center;
	}
	.item {
		width: 25%;
	}
}
