@charset "utf-8";

/* ========== ＜共通設定＞ ========== */
body {
	font-size: 16px;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, "Helvetica Neue", Helvetica, sans-serif,'游ゴシック体', 'YuGothic';
	background-color: #fff;
	color: #000;
}
a {
	display: block;
	text-decoration: none;
	color: #000;
}
a:link { color: #fff; }
a:hover { color: #EEA9A9; }
a:active { color: #e6e6e6; }

.nowPage {
	color: #113285;
	font-weight: bold;
	border-bottom: 2px solid;
}
/* ========== header ========== */
.header {
	position: relative;
	padding-top: 10px;
	text-align: center;
	height: 100px;
}
.header .fixbar {
	position: absolute;
	background-color: #fff;
	width: 100%;
}
.header.fixed .fixbar {
	position: fixed;
	top: 0px;
}
.headNav {
	display: inline-block;
	line-height: 45px;
}
.headNav_ul {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 250px;
}
.headNav_ul > li {
	display: table-cell;
	vertical-align: middle;
}
.logoinnr {
	display: inline-block;
}
.logo {
	height: 100px;
	margin: 0 20px;
}
.headNavButton {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #a9a9a9;
	color: #FFF;
	top: 40px;
	right: 40px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}
.spNav {
	position: absolute;
	top: 104px;
	right: 0;
	display: block;
	text-align: center;
	padding: 20px 0;
	width: 250px;
	background-color: rgba(255, 255, 255, 0.5);
}
.spNav_ul > li {
	margin-top: 20px;
	border-bottom: 1px solid #000;
}
.spNav_ul > li:first-child {
	margin-top: 0;
	border-bottom: none;
}
/* ========== fotter ========== */
.fotter {
	height: 60px;
	overflow: hidden;
}
.copyright {
	padding: 0 50px;
	line-height: 60px;
	font-size: 11px;
	text-align: center;
}
.fotNav {
	float: right;
	padding: 20px 50px;
	line-height: 20px;
}
.fotNav_ul > li {
	display: inline-block;
	margin-left: 15px;
	font-size: 13px;
}
.fotNav_ul > li:first-child {
	margin-top: 0;
	border-bottom: none;
}
/* ========== /＜共通設定＞ ========== s*/

/* レスポンシブの設定 */
/* スマホのスタイル */
.headNav, .fotNav {
	display: none;
}
.headNavButton {
	display: block;
}
/* タブレットのスタイル */
@media all and (min-width: 480px) {
	}
/* PCのスタイル */

/*
all:980px
sub:200px
margin:15px
main:765px
*/

@media all and (min-width: 768px) {
	.spNav {
		display: none;
	}
	.mainRight {
		display: block;
	}
	.fotNav {
		display: block;
	}
	.headNav {
		display: inline-block;
	}
	.headNavButton {
		display: none;
	}
	.copyright {
		float: left;
		text-align: none;
	}
}