@charset "utf-8";
body {
	background-color: #696969;
}
.back {
	float: left;
	margin: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	width: 100px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: rgba(28, 28, 28, 0.8);
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.back:hover {
	background-color: rgba(28, 28, 28, 1);
}
.arrow {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #fff;
	opacity: 0.8;
}
.backTxt {
	text-decoration: none;
	color: #FFF;
}
.twitter-share-button {
	float: right;
	margin: 40px;
}
	/* mangaviewer css */
	#viewer {
		background-color: #696969;
		margin-top: 30px;
	}
	#viewer .sheet{
		width:100%;
		text-align:center;
	}
	#viewer img{
		width:400px;
		cursor:pointer;
	}

	#viewer #page-link{
		clear:both;
		text-align:center;
	}
	#viewer #page-link .btn.active{
		border: inset 2px #086A87;
		background-color:#2E9AFE;
	}
	/* mangaviewer css */