@charset "utf-8";
html,
body {
  height: 100%;
}

/* ========== main ========== */
.main {
	position: relative;
	height: 80%;
	overflow: hidden;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	background-color: #113285;
}
.mainRight {
	display: none;
	width: 250px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.side {
	padding: 45px 0 0 45px;
	width: 120px;
}
.side_ul {
}
.side_ul > li {
	margin-top: 20px;
	border-bottom: 1px solid #000;
}
.side_ul > li:first-child {
	margin-top: 0;
	border-bottom: none;
}
.side_ul > li:hover {
	border-bottom: 1px solid #EB7A77;
}
.side_ul > li:first-child:hover {
	border-bottom: none;
}
.pickUp {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 250px;
	height: 250px;
}
.pickUp_inner {
	position: relative;
	width: 250px;
	height: 250px;
	-webkit-border-radius: 250px;
	        border-radius: 250px;
	text-align: center;
	background-color: #2EA9DF;
}
.pickUp_inner:hover {
	background-color: #516E41;
}
.kyou_thum {
	position: absolute;
	margin: auto;
	top: -20%;
	left: 0;
	right: 0;
	width: 150px;
}
.kyou_text {
	position: absolute;
	margin: auto;
	top: 40%;
	left: 0;
	right: 0;
	width: 250px;
	font-size: 17px;
	font-weight: bold;
}
/* レスポンシブの設定 */
@media all and (min-width: 768px) {
	.mainRight {
		display: block;
	}
}